$fontFamily: "Noto Sans", sans-serif;

$whiteColor: #fff;
$blackColor: #333;
$redColor: #ff3333;
$blueColor: #0000ff;
$blueColor-2: #1976d2;
$blueColor-3: #007bff;

$primaryColor: #6db3d2;
$secondaryColor: #ff6b6b;

// Gray Color Shades
$grayColor: #333333;
$grayColor-2: #666666;
$grayColor-3: #f5f5f5;
$grayColor-4: #00000020;
$grayColor-5: #e9ecef;
$grayColor-6: #ced4da;
$grayColor-7: #717175;

$platinumColor: #e7e7e7;
